body,
ul {
  margin: 0;
}
header  {
    background-color: #ffffff;
}
.inner  {
    align-items: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo  {
    height: 100%;
    width: 100px;
    padding-left: 30px;
}
ul  {
    display: flex;
    list-style: none;
}
li  {
    border-radius: 20px;
    text-align: right;
}
li a  {
    color: rgb(36, 36, 36);
    display: block;
    font-size: 16px;
    padding: 5px 10px;
    text-decoration: none;
}
  